name: Test Python App

on:
  push:   # запускается при любом пуше в репозиторий

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies
        run: pip install fastapi[all] pytest httpx uvicorn

      - name: Run tests
        run: python -m pytest tests/

